<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027452001680-22ggfscpaethu23s2n625r9p20kifof4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027452001680-22ggfscpaethu23s2n625r9p20kifof4</string>
	<key>API_KEY</key>
	<string>AIzaSyDloWANfOMRhotGtoVccuJzwRlVBSwvNfE</string>
	<key>GCM_SENDER_ID</key>
	<string>1027452001680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.vaishu.Sun-Chatz-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-86101</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-86101.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027452001680:ios:b0c5ed0ff38be619892715</string>
</dict>
</plist>