<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378673531586-qr2h519k0an1bms8tgpqm3peshpsbnpb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378673531586-qr2h519k0an1bms8tgpqm3peshpsbnpb</string>
	<key>API_KEY</key>
	<string>AIzaSyAkFCNnGX5byhhCaX9RbErKD6KiJuDwTbA</string>
	<key>GCM_SENDER_ID</key>
	<string>378673531586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.maonz.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-e6040</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-e6040.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378673531586:ios:92cd930a9ddadf8e4f895b</string>
</dict>
</plist>