<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575964535563-5e9aepbre659bmvu4h0ddjvva78hnuv5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575964535563-5e9aepbre659bmvu4h0ddjvva78hnuv5</string>
	<key>API_KEY</key>
	<string>AIzaSyDkTawfPU6NrBLEOpoK4Qrs9ZbJqIM2RVU</string>
	<key>GCM_SENDER_ID</key>
	<string>575964535563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dsankovsky.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-f1a4f</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-f1a4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575964535563:ios:1428e6ae2ee963e158200e</string>
</dict>
</plist>